Flask==2.3.2
PyPDF2==3.0.1
openpyxl==3.1.2
pandas==2.0.3
python-docx==0.8.11
Pillow==10.3.0
pytesseract==0.3.10
numpy==1.26.4
mysql-connector-python==8.0.33
razorpay==2.0.0
flask-cors==6.0.1
alembic==1.10.4
gunicorn==20.1.0
reportlab==4.0.4
